<form n:name="form" role="form" class="form-horizontal">
	<div class="row">
		<div class="col-lg-10 col-md-8">

			<div class="form-group">
				<div class="col-sm-2 text-right">
					<h4>Údaje stavby</h4>
				</div>
			</div>
			<div class="form-group">
				{label name, class => 'col-sm-2 control-label' /}
				<div class="col-sm-10">
					{input name, class => 'form-control'}
				</div>
			</div>
			<div class="form-group">
				{label street, class => 'col-sm-2 control-label' /}
				<div class="col-sm-10">
					{input street, class => 'form-control'}
				</div>
			</div>
			<div class="form-group">
				{label city, class => 'col-sm-2 control-label' /}
				<div class="col-sm-10">
					{input city, class => 'form-control'}
				</div>
			</div>

			<div class="form-group">
				{label dateFrom, class => 'col-sm-2 control-label' /}
				<div class="col-sm-10">
					{input dateFrom, class => 'form-control'}
				</div>
			</div>
			<div class="form-group">
				{label dateTo, class => 'col-sm-2 control-label' /}
				<div class="col-sm-10">
					{input dateTo, class => 'form-control'}
				</div>
			</div>

			<div class="form-group">
				{label managers, class => 'col-sm-2 control-label' /}
				<div class="col-sm-10">
					{input managers, class => 'form-control'}
				</div>
			</div>
			<div class="form-group">
				{label state, class => 'col-sm-2 control-label' /}
				<div class="col-sm-10">
					{input state, class => 'form-control'}
				</div>
			</div>

		</div>

	</div>
	<div class="col-sm-12">
		{input send, class => 'btn btn-info pull-right'}
	</div>
</form>