<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>{ifset #title}{include #title} | {/ifset}order_system</title>

	{ifset #description}
		<meta name="description" content="{include #description}">
		<meta content="{include #description}" property="og:description">
	{/ifset}
	{ifset #keywords}
		<meta name="keywords" content="{include #keywords}">
	{/ifset}

	<meta content="" property="og:image">
	<meta content="cs_CZ" property="og:locale">
	<meta content="order_system" property="og:site_name">
	<meta content="{ifset #title}{include #title} | {/ifset}order_system" name="og:title">
	<meta content="website" property="og:type">
	<meta content="{plink this}" property="og:url">

	{*}<link href="{$basePath}/admin-assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">{*}
	{if !isset($firstLoading)}
		<link href="{$basePath}/res/screen.css" media="screen" rel="stylesheet">
	{/if}

	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="{$basePath}/res/favicon.ico" rel="shortcut icon">

	{ifset #head}
		{include #head}
	{/ifset}

</head>

<body n:class="isset($newContainer) ? newContainer">

	<div>

		<header role="banner">
			<div>
				<a n:href="Default:">Home</a> |
				{if !$user->isLoggedIn()}
					<a n:href="Sign:in" title="login'">Login</a>
				{else}
					<a n:href="Profile:" title="{$user->identity->getFullName()}"><i class="fa fa-user"></i>{$user->identity->getFullName()}</a> |
					<a n:href="Sign:out" title="logout">Logout</a>
				{/if}
			</div>
		</header>
		<hr>

		<div>
			{snippet flashes}
				<span n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}<br></span>
			{/snippet}
			{if isset($form)}
				<span n:foreach="$form->errors as $error" class="error alert-danger">{$error}<br></span>
			{/if}
		</div>

		{include #content}

		<aside role="complementary">
			<div>

			</div>
		</aside>
		<hr>
		<footer role="contentinfo">
			<div>
				<p>© 2020 order_system</p>
			</div>
		</footer>
	</div>

	{if isset($firstLoading)}
		<link href="{$basePath}/css/screen.css" media="screen" rel="stylesheet">
	{/if}

	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//nette.github.io/resources/js/netteForms.min.js"></script>

	<script src="{$basePath}/js/js.js"></script>

	{ifset #js}
		<script type="text/javascript">
			{include #js}
		</script>
	{/ifset}

</body>
</html>

