{snippetArea supplierForm}

    <form n:name="form" role="form" class="form-horizontal">
        <div class="row">

            {snippet form}

                <div class="col-lg-10 col-md-8">

                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            <h4>Údaje dodavatele</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        {label company, class => 'col-sm-2 control-label' /}
                        <div class="col-sm-10">
                            {input company, class => 'form-control'}
                        </div>
                    </div>
                    <div class="form-group">
                        {label email, class => 'col-sm-2 control-label' /}
                        <div class="col-sm-10">
                            {input email, class => 'form-control'}
                        </div>
                    </div>
                    <div class="form-group">
                        {label phone, class => 'col-sm-2 control-label' /}
                        <div class="col-sm-10">
                            {input phone, class => 'form-control'}
                        </div>
                    </div>
                    <div class="form-group">
                        {label street, class => 'col-sm-2 control-label' /}
                        <div class="col-sm-10">
                            {input street, class => 'form-control'}
                        </div>
                    </div>
                    <div class="form-group">
                        {label city, class => 'col-sm-2 control-label' /}
                        <div class="col-sm-10">
                            {input city, class => 'form-control'}
                        </div>
                    </div>
                    <div class="form-group">
                        {label zip, class => 'col-sm-2 control-label' /}
                        <div class="col-sm-10">
                            {input zip, class => 'form-control'}
                        </div>
                    </div>
                    <div class="form-group">
                        {label ino, class => 'col-sm-2 control-label' /}
                        <div class="col-sm-10">
                            {input ino class => 'form-control ino'}
                        </div>
                    </div>
                    <div class="form-group">
                        {label vat, class => 'col-sm-2 control-label' /}
                        <div class="col-sm-10">
                            {input vat, class => 'form-control'}
                        </div>
                    </div>
                </div>

            {/snippet}

        </div>
        <div class="col-sm-12">
            {input send, class => 'btn btn-info pull-right'}
        </div>
    </form>

{/snippetArea}