{block content}
<section class="main-content container">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h4 n:block="title">
                    Customer - {ifset $row}{$row->getFullName()}{else}New customer{/ifset}
                </h4>
            </div>
            <div class="col-sm-6 text-right">
                <ol class="breadcrumb">
                    <li><a n:href=":Admin:Default:"><i class="fa fa-home"></i></a></li>
                    <li><a n:href=":Admin:User:customer">Customers</a></li>
                    <li>{ifset $row}{$row->getFullName()}{else}New customer{/ifset}</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {control customerForm}
                </div>
            </div>
        </div>
    </div>
</section>