{block content}
<section class="main-content container">

	<div class="page-header">
		<div class="row">
			<div class="col-sm-6">
				<h4 n:block="title">
					User - {ifset $row}{$row->getFullName()}{else}New user{/ifset}
				</h4>
			</div>
			<div class="col-sm-6 text-right">
				<ol class="breadcrumb">
					<li><a n:href=":Admin:Default:"><i class="fa fa-home"></i></a></li>
					<li><a n:href=":Admin:User:user">Users</a></li>
					<li>{ifset $row}{$row->getFullName()}{else}New user{/ifset}</li>
				</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					{control userForm}
				</div>
			</div>
		</div>
		<div n:ifset="$buildings" class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-sm-6">
						<h4>Přidělené stavby</h4>
					</div>
				</div>
				<div class="panel-body">
					{foreach $buildings as $building}
						<div><a n:href=":Admin:Building:edit $building->id">{$building->name}</a></div>
					{/foreach}
				</div>
			</div>
		</div>
	</div>
</section>