{block content}
<section class="main-content container">

	<div class="page-header">
		<div class="row">
			<div class="col-sm-6">
				<h4 n:block="title">Users</h4>
			</div>
			<div class="col-sm-6 text-right">
				<ol class="breadcrumb">
					<li><a n:href=":Admin:Default:"><i class="fa fa-home"></i></a></li>
					<li>Users</li>
				</ol>
			</div>
		</div>
	</div>

	<div class="text-right">
		<a n:href="editUser" class="btn btn-info">Add user</a>
	</div>
	{control userGrid}
</section>