{define #title} Profile {/define}

{block content}

<main>

    <div>
        <p n:if="$user->identity->isTypeClient()">
            <img alt="{$user->identity->getProfileName()}" src="{$basePath}/{$user->identity->getAvatarPath()}">
        </p>
        <p n:if="$user->identity->isTypeCompany()">
            <img alt="{$user->identity->getProfileName()}" src="{$basePath}/{$user->identity->getLogoPath()}">
        </p>
        <p>{$user->identity->getFullName()}</p>
        <p>{$user->identity->getFullAddress()}</p>
        <p>
            {$user->identity->email}<br>
            {$user->identity->phone}
        </p>
        <p><a n:href="Profile:edit">Edit</a></p>
        <p><a n:href=":Admin:Default:" n:if="$user->isAdmin()">Administrace</a></p>
    </div>

</main>