{block content}
<section class="main-content container">

	<!--page header start-->
	<div class="page-header">
		<div class="row">
			<div class="col-sm-6">
				<h4>Homepage</h4>
			</div>
			<div class="col-sm-6 text-right">
				<ol class="breadcrumb">
					<li><a n:href=":Admin:Default:"><i class="fa fa-home"></i></a></li>
					<li>Homepage</li>
				</ol>
			</div>
		</div>
	</div>

</section>


{if 0}
<script type="text/javascript">
	{/if}
	{define #js}



	{/define}
	{if 0}
</script>
{/if}