{block content}
<section class="main-content container">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h4 n:block="title">
                    Supplier - {ifset $row}{$row->company}{else}New supplier{/ifset}
                </h4>
            </div>
            <div class="col-sm-6 text-right">
                <ol class="breadcrumb">
                    <li><a n:href=":Admin:Default:"><i class="fa fa-home"></i></a></li>
                    <li><a n:href=":Admin:Supplier:">Suppliers</a></li>
                    <li>{ifset $row}{$row->company}{else}New supplier{/ifset}</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {control supplierForm}
                </div>
            </div>
        </div>
    </div>
</section>


{if 0}
<script type="text/javascript">
    {/if}
    {define #js}

    $(function () {
        //refreshBookingTripForm();
        //calculateDistancePrice();
        bindJs($(document));
    });

    $.nette.ext("snippets").after(function ($el) {
        bindJs($el);
    });

    function getAres() {
        var $ino = $(document).find(".ino");

        if (!$ino.val()) {
            return;
        }

        $.nette.ajax({
            url: {link supplierForm:getAres!},
            dataType: "json",
            data: {
                'supplierForm-ino': $ino.val(),
            }
        });
    }

    function bindJs($el) {

            $("input.ino").on("keydown paste", function () {

                setTimeout(function() {

                    if ($("input.ino").val().length === 8) {
                        getAres();
                    }

                }, 0);
            });

    }

    {/define}
    {if 0}
</script>
{/if}