<form n:name="form">

	<fieldset n:if="$user->identity->isTypeClient()">
		<legend>Avatar</legend>
		<small>Avatar placeholder</small>
		<p>{input avatar}</p>
	</fieldset>

	<fieldset n:if="$user->identity->isTypeCompany()">
		<legend>Logo</legend>
		<small>Logo placeholder</small>
		<p>{input logo}</p>
	</fieldset>

	<fieldset>
		<legend>Contact</legend>
		<p>{input salutation}</p>
		<p>{input firstName}</p>
		<p>{input lastName}</p>
		<p>{input email}</p>
		<p class="phone_prefix">
			{input phonePrefix}
			{input phone}
		</p>

	{if $user->identity->isTypeCompany()}

	</fieldset>

	<fieldset>
		<legend>Company info</legend>
		<p>{input company}</p>
		<p>{input ino}</p>
		<p>{input vat}</p>
		<legend>Company address</legend>

	{/if}

		<p>{input street}</p>
		<p>{input city}</p>
		<p>{input zip}</p>
		<p>{input country}</p>

		<legend>Change password</legend>
		<p>{input password}</p>
		<p>{input passwordVerify}</p>
	</fieldset>

	<fieldset>
		<p><a href="{plink deleteAccount!}" title="Close account">Delete account</a></p>
		{input send}
	</fieldset>

</form>