{define #title} Homepage {/define}
{define #description} Description {/define}

{define #content}

	<main>

		<div>
			Welcome
		</div>

	</main>

{/define}


{if 0}
<script type="text/javascript">
	{/if}
	{define #js}



	{/define}
	{if 0}
</script>
{/if}
