<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>{ifset #title}{include #title|stripTags}{/ifset} | order_system</title>

	<!-- Common plugins -->
	<link href="{$basePath}/admin-assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{$basePath}/admin-assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
	<link href="{$basePath}/admin-assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	{*}<link href="{$basePath}/admin-assets/plugins/pace/pace.css" rel="stylesheet">{*}
	<link href="{$basePath}/admin-assets/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{$basePath}/admin-assets/plugins/nano-scroll/nanoscroller.css">
	<link rel="stylesheet" href="{$basePath}/admin-assets/plugins/metisMenu/metisMenu.min.css">
	{*<link href="{$basePath}/admin-assets/plugins/summernote/summernote.css" rel="stylesheet">*}
	{*<link href="{$basePath}/admin-assets/plugins/summernote/summernote-bs3.css" rel="stylesheet">*}

	{*}<link href="{$basePath}/admin-assets/plugins/toast/jquery.toast.min.css" rel="stylesheet">{*}
	<link href="{$basePath}/admin-assets/plugins/ublaboo-datagrid/assets/dist/datagrid.css" rel="stylesheet">

	<link href="{$basePath}/admin-assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
	<link href="{$basePath}/admin-assets/plugins/select2-bootstrap-theme/dist/select2-bootstrap.min.css" rel="stylesheet" />

	{ifset #header}
		{include #header}
	{/ifset}

	<!--template css-->
	<link href="{$basePath}/admin-assets/css/style.css" rel="stylesheet">
	{*}<link href="{$basePath}/admin-assets/css/custom.css" rel="stylesheet">{*}

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]-->
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<!--[endif]-->

	{*}<link rel="stylesheet" type="text/css" href="{$basePath}/admin-assets/plugins/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.css">{*}
	<link rel="stylesheet" type="text/css" href="{$basePath}/admin-assets/plugins/voda-date-input/dateInput.css">

</head>
<body>

<div id="ajax-spinner" style="display: none"><i class="fa fa-spinner fa-spin"></i> Loading ...</div>

<!--top bar start-->
<div class="top-bar light-top-bar">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<ul class="list-inline top-left admin-header">
					<li>
						<a n:href="Default:">Administrace order_system</a>
					</li>
				</ul>
				<div class="left-nav-toggle visible-xs visible-sm">
					<a n:href="Default:">
						<i class="glyphicon glyphicon-menu-hamburger"></i>
					</a>
				</div>
			</div>
			<div class="col-xs-6">
				<ul class="list-inline top-right-nav">
					<li>
						<a n:href=":Front:Default:">
							<i class="fa fa-home"></i>
						</a>
					</li>
					<li class="dropdown avtar-dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-user"></i>
						</a>
						<ul class="dropdown-menu top-dropdown">
							<li><a href="#"> <i class="fa fa-user"></i> {$user->identity->getFullName()} {if $user->isAdmin()} <span style="color: red">(admin)</span> {/if}</a></li>
							<li><a n:href="Profile:setting"><i class="fa fa-cog"></i> Nastavení</a></li>
							<li class="divider"></li>
							<li><a n:href="Sign:out"><i class="fa fa-sign-out"></i> Odhlásit se</a></li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>
<!-- top bar end-->

<!--left navigation start-->
<aside class="float-navigation light-navigation">
	<div class="nano">
		<div class="nano-content">
			<ul class="metisMenu nav" id="menu">
				<li n:class="$presenter->isLinkCurrent('Default:*') ? active"><a n:href="Default:"><i class="fa fa-home"></i> Homepage </a></li>
				<li n:if="$user->allowed('user.user') || $user->allowed('customer.customer')" n:class="$presenter->isLinkCurrent('User:*') ? active">
					<a href="javascript: void(0);" aria-expanded="true"><i class="fa fa-users"></i> Users <span class="fa arrow"></span></a>
					<ul class="nav-second-level nav" aria-expanded="true">
						<li n:if="$user->allowed('user.user')" n:class="$presenter->isLinkCurrent('User:*') ? active"><a n:href="User:user"> Users </a></li>
						<li n:if="$user->allowed('customer.customer')" n:class="$presenter->isLinkCurrent('User:customer') ? active"><a n:href="User:customer"> Customers </a></li>
					</ul>
				</li>
				<li n:class="$presenter->isLinkCurrent('Building:*') ? active"><a n:href="Building:"><i class="fa fa-building"></i> Buildings </a></li>
				<li n:class="$presenter->isLinkCurrent('Supplier:*') ? active"><a n:href="Supplier:"><i class="fa fa-address-book"></i> Suppliers </a></li>
				<li n:class="$presenter->isLinkCurrent('Order:*') ? active"><a n:href="Order:"><i class="fa fa-folder-open"></i> Orders </a></li>
			</ul>
		</div><!--nano content-->
	</div><!--nano scroll end-->
</aside>
<!--left navigation end-->

{snippet flash}
	{foreach $flashes as $flash}
		<div class="alert alert-{$flash->type} hidden">{$flash->message}</div>
	{/foreach}
{/snippet}

{include #content}

<!--Common plugins-->
<script src="{$basePath}/admin-assets/plugins/jquery/dist/jquery.min.js"></script>
<script src="{$basePath}/admin-assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="{$basePath}/admin-assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{$basePath}/admin-assets/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
<script src="{$basePath}/admin-assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="{$basePath}/admin-assets/plugins/nano-scroll/jquery.nanoscroller.min.js"></script>
<script src="{$basePath}/admin-assets/plugins/metisMenu/metisMenu.min.js"></script>
{*<script src="{$basePath}/admin-assets/plugins/summernote/summernote.min.js"></script>*}
{*<script src="{$basePath}/assets/tinymce/js/tinymce/tinymce.min.js"></script>*}
<script src="{$basePath}/admin-assets/js/float-custom.js"></script>

<script type='text/javascript' src="{$basePath}/admin-assets/plugins/nette.ajax.js/nette.ajax.js"></script>
{*}<script type='text/javascript' src="{$basePath}/admin-assets/plugins/nette.ajax.js/extensions/history.ajax.js"></script>{*}
<script type='text/javascript' src="{$basePath}/admin-assets/plugins/nette-forms/src/assets/netteForms.js"></script>

<script src="{$basePath}/admin-assets/plugins/ublaboo-datagrid/assets/dist/datagrid.js"></script>

<script src="{$basePath}/admin-assets/plugins/select2/dist/js/select2.min.js"></script>

{*}<script type='text/javascript' src="{$basePath}/admin-assets/plugins/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js"></script>{*}
<script type='text/javascript' src="{$basePath}/admin-assets/plugins/voda-date-input/dateInput.js"></script>

{*}<script src="{$basePath}/admin-assets/plugins/toast/jquery.toast.min.js"></script>{*}
<script src="{$basePath}/admin-assets/js/app.js"></script>


{ifset #scripts}
	{include #scripts}
{/ifset}

{ifset #js}
	<script type="text/javascript">
		{include #js}
	</script>
{/ifset}
</body>
</html>