<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Administrace order_system</title>

    <!-- Common plugins -->
    <link href="{$basePath}/admin-assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/admin-assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    {*}<link href="{$basePath}/admin-assets/plugins/pace/pace.css" rel="stylesheet">{*}
    <link href="{$basePath}/admin-assets/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{$basePath}/admin-assets/plugins/metisMenu/metisMenu.min.css">
    <!--template css-->
    <link href="{$basePath}/admin-assets/css/style.css" rel="stylesheet">
    <link href="{$basePath}/admin-assets/css/custom.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- [if lt IE 9] -->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <!-- [endif]-->
    <style type="text/css">
        html,body{
            height: 100%;
        }
    </style>
</head>
<body>

<div class="misc-wrapper">
    <div class="misc-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <div class="misc-shadow">
                        <div class="misc-header text-center">
                            <h3 class="login-heading">Administrace order_system</h3>
                        </div>
                        {include #content}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Common plugins-->
<script src="{$basePath}/admin-assets/plugins/jquery/dist/jquery.min.js"></script>
<script src="{$basePath}/admin-assets/plugins/bootstrap/js/bootstrap.min.js"></script>
{*}<script src="{$basePath}/admin-assets/plugins/pace/pace.min.js"></script>{*}
<script src="{$basePath}/admin-assets/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
<script src="{$basePath}/admin-assets/plugins/metisMenu/metisMenu.min.js"></script>
</body>
</html>