{layout '@layout.latte'}
{block content}
<div class="misc-box">
	<p class="text-center text-uppercase pad-v">Přihlásit se</p>
	{foreach $flashes as $flash}
		<div class="alert alert-{$flash->type}">{$flash->message}</div>
	{/foreach}
	{control loginForm}
</div>