<form n:name="form" role="form">
	<div class="form-group">
		{label email /}
		<div class="group-icon">
			{input email, class => 'form-control'}
			<span class="fa fa-user text-muted icon-input"></span>
		</div>
	</div>
	<div class="form-group">
		{label password /}
		<div class="group-icon">
			{input password, class => 'form-control'}
			<span class="fa fa-lock text-muted icon-input"></span>
		</div>
	</div>
	<div class="clearfix">
		<div class="pull-right">
			{input send class => 'btn btn-block btn-primary'}
		</div>
	</div>
</form>