<form n:name="form">

	<div class="switch">
		{foreach $form['type']->items as $key => $label}
			<p>
				<input n:name="type:$key">
				<label n:name="type:$key">{_$label}</label>
			</p>
		{/foreach}
	</div>


	<div id="register-client" n:formContainer="client">
		<p><h4>Client contact info</h4></p>
		<p>{input firstName}</p>
		<p>{input lastName}</p>
		<p>{input email}</p>
		<p class="phone_prefix">
			{input phonePrefix}
			{input phone}
		</p>
		<br>
		<p>{input street}</p>
		<p>{input city}</p>
		<p>{input zip}</p>
		<p>{input country}</p>
	</div>

	<div id="register-company" n:formContainer="company">
		<p><h4>Company contact info</h4></p>
		<p>{input firstName}</p>
		<p>{input lastName}</p>
		<p>{input email}</p>
		<p class="phone_prefix">
			{input phonePrefix}
			{input phone}
		</p>
		<br>
		<p><h4>Company billing info</h4></p>
		<p>{input company}</p>
		<p>{input ino}</p>
		<p>{input vat}</p>
		<p>{input street}</p>
		<p>{input city}</p>
		<p>{input zip}</p>
		<p>{input country}</p>
	</div>

	<div>
		<p>{input password}</p>
		<p>{input passwordVerify}</p>
	</div>

	<fieldset class="consent">
		{var $consent = $presenter->link('this')}
		{var $cookie = $presenter->link('this')}
		<p>{input consent:} {label consent:}I agree{/label}</p>
	</fieldset>

	<fieldset>
		{input send}
	</fieldset>

</form>