<form n:name="form" role="form" class="form-horizontal">
    {foreach $form->getErrors() as $error}
        <div class="alert alert-danger">{$error}</div>
    {/foreach}
    <div class="row">
        <div class="col-lg-10 col-md-8">

            {if isset($row) && $row->active == 0}
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <a n:href="verifyCustomerAccount! $row->id" class="btn btn-default">Ověřit</a>
                    </div>
                </div>
            {/if}

            <div class="form-group">
                {label type, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input type, class => 'form-control'}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 text-right">
                    <h4>Osobní údaje</h4>
                </div>
            </div>
            <div class="form-group">
                {label salutation, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input salutation, class => 'form-control'}
                </div>
            </div>
            <div class="form-group">
                {label firstName, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input firstName, class => 'form-control'}
                </div>
            </div>
            <div class="form-group">
                {label lastName, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input lastName, class => 'form-control'}
                </div>
            </div>
            <div class="form-group">
                {label email, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input email, class => 'form-control'}
                </div>
            </div>
            <div class="form-group">
                {label phone, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input phone, class => 'form-control'}
                </div>
            </div>

            <div id="company">
                <div class="form-group">
                    {label billing, class => 'col-sm-2 control-label' /}
                    <div class="col-sm-10">
                        {input billing, class => 'form-control'}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-right">
                        <h4>Fakturační údaje</h4>
                    </div>
                </div>
                <div class="form-group">
                    {label company, class => 'col-sm-2 control-label' /}
                    <div class="col-sm-10">
                        {input company, class => 'form-control'}
                    </div>
                </div>
                <div class="form-group">
                    {label ino, class => 'col-sm-2 control-label' /}
                    <div class="col-sm-10">
                        {input ino, class => 'form-control'}
                    </div>
                </div>
                <div class="form-group">
                    {label vat, class => 'col-sm-2 control-label' /}
                    <div class="col-sm-10">
                        {input vat, class => 'form-control'}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {label street, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input street, class => 'form-control'}
                </div>
            </div>
            <div class="form-group">
                {label city, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input city, class => 'form-control'}
                </div>
            </div>
            <div class="form-group">
                {label zip, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input zip, class => 'form-control'}
                </div>
            </div>
            <div class="form-group">
                {label country, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input country, class => 'form-control'}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 text-right">
                    <h4>Ostatní</h4>
                </div>
            </div>

            <div class="form-group">
                {label aclRole, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input aclRole, class => 'form-control'}
                </div>
            </div>
            <div class="form-group">
                {label active:, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input active:}
                </div>
            </div>
            <div class="form-group">
                {label deleted:, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input deleted:}
                </div>
            </div>

            <div class="form-group">
                <hr>
                <div class="col-sm-2 text-right">
                    <h4>Změna hesla</h4>
                </div>
            </div>

            <div class="form-group">
                {label password, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input password, class => 'form-control'}
                </div>
            </div>
            <div class="form-group">
                {label passwordVerify, class => 'col-sm-2 control-label' /}
                <div class="col-sm-10">
                    {input passwordVerify, class => 'form-control'}
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4" id="logo">
            <img src="{$basePath}/{$row->getLogoPath()}" class="img-responsive" n:if="isset($row) && $row->getLogoPath()">
            {input logo, class => 'form-control'}
            <div class="text-center"><small>Doporučený rozměr: 210x90px</small></div>
        </div>
        <div class="col-lg-2 col-md-4" id="avatar">
            <img src="{$basePath}/{$row->getAvatarPath()}" class="img-responsive" n:if="isset($row) && $row->getAvatarPath()">
            {input avatar, class => 'form-control'}
            <div class="text-center"><small>Doporučený rozměr: 230x230px</small></div>
        </div>

    </div>
    <div class="col-sm-12">
        {input send, class => 'btn btn-info pull-right'}
    </div>
</form>