{layout '@layout.latte'}
{block content}
<p>
	{_'app.email.contactClient.salutation'} {$values->firstName} {$values->lastName}!<br>
	{_'app.email.contactClient.slogan'}:
</p>
<p>{$values->message}</p>
<br>
<p>
	<b>{_'app.email.contactClient.slogan2'}:</b><br>
	{_'app.email.contactClient.phone'}: {$values->phone}<br>
	{_'app.email.contactClient.email'}: {$values->email}<br>
</p>
<br>
<p><b>{_'app.email.contactClient.slogan3'}</b></p>