{layout '@layout.latte'}
{block content}
<p>{$values->message}</p>
<br>
<p>
	<b>{_'app.email.contactAdmin.clientContact'}:</b><br>
	{$values->firstName} {$values->lastName}<br>
	{_'app.email.contactAdmin.phone'}: {$values->phone}<br>
	{_'app.email.contactAdmin.email'}: {$values->email}<br>
</p>