{layout '@layout.latte'}
{block content}
<p>
	{$salutation}!<br>
	{_'app.email.lostPassword.slogan'}
</p>
<br>
<p><a href="{$link}">{$link}</a></p>
<br>
<p>{_'app.email.lostPassword.slogan2'}</p>
<br>
<p><b>{_'app.email.lostPassword.thx'}</b></p>