{layout '@layout.latte'}
{block content}
<p>
	{$salutation}!<br>
	{_'app.email.register.slogan'}
</p>
<br>
<p>
	{_'app.email.register.activation'}:<br>
	<a href="{$link}">{$link}</a>
</p>
<br>
<p>
	{_'app.email.register.login'}: {$user->email}
</p>
<p n:if="$password">
	{_'app.email.register.password'}: {$password}
</p>
<br>
<p>
	<b>{_'app.email.register.contactInfo'}:</b><br>
	{_'app.email.register.firstName'}: {$user->firstName}<br>
	{_'app.email.register.lastName'}: {$user->lastName}<br>
	{_'app.email.register.phone'}: {$user->phone}<br>
	{_'app.email.register.email'}: {$user->email}<br>
	<br>
	{if $user->isTypeCompany()}
		<b>{_'app.email.register.billingInfo'}:</b><br>
		{_'app.email.register.company'}: {$user->company}<br>
		{_'app.email.register.ino'}: {$user->ino}<br>
		{_'app.email.register.vat'}: {$user->vat}<br>
		<b>{_'app.email.register.companyAddress'}:</b><br>
	{/if}
	{_'app.email.register.street'}: {$user->street}<br>
	{_'app.email.register.city'}: {$user->city}<br>
	{_'app.email.register.zip'}: {$user->zip}<br>
</p>
<br>
<p>
	{_'app.email.register.slogan2'}<br>
	{*_'app.email.register.slogan3'} <a href="{link Front:Booking:}">{_'app.email.register.firstReservation'}</a>!{*}
</p>
<br>
<p><b>{_'app.email.register.thx'}</b></p>