{**
 * @param Filter                         $filter
 * @param Nette\Forms\Controls\TextInput $input
 * @param string                         $iconPrefix       Icon prefix (fa fa-)
 *}

{if $outer}
	{label $input /}<br>
	{input $input}
{else}
	<div class="form-inline">
		<div class="input-group">
			{input $input}
			<label n:name="$input" class="input-group-addon"><i class="{$iconPrefix}calendar"></i></label>
		</div>
	</div>
{/if}
