{**
 * @param Filter                $filter
 * @param Nette\Forms\Container $input
 * @param string                $iconPrefix       Icon prefix (fa fa-)
 *}

{var $container = $input}

{if $outer}
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				{label $container['from'] /}<br>
				{input $container['from']}
			</div>
		</div>
		<div class="col-sm-6">
			<div class="input-group">
				{label $container['to'] /}<br>
				{input $container['to']}
			</div>
		</div>
	</div>
{else}
	<div class="datagrid-col-filter-date-range form-inline">
		<div class="input-group">
			{input $container['from']}
			<label n:name="$container['from']" class="input-group-addon input-group-addon-first"><i class="{$iconPrefix}calendar"></i></label>

			<div class="input-group-addon datagrid-col-filter-datte-range-delimiter">-</div>

			{input $container['to']}
			<label n:name="$container['to']" class="input-group-addon"><i class="{$iconPrefix}calendar"></i></label>
		</div>
	</div>
{/if}
