{**
 * @param Filter                $filter
 * @param Nette\Forms\Container $input
 *}

{var $container = $input}

{if $outer}
	<div class="row">
		<div class="col-sm-6">
			{label $container['from'] /}<br>
			{input $container['from']}
		</div>
		<div class="col-sm-6">
			{label $container['to'] /}<br>
			{input $container['to']}
		</div>
	</div>
{else}
	<div class="datagrid-col-filter-range form-inline">
		<div class="input-group">
			{input $container['from']}

			<div class="input-group-addon datagrid-col-filter-datte-range-delimiter">-</div>

			{input $container['to']}
		</div>
	</div>
{/if}
