{define #title} Lost password {/define}

{block content}

<main>

    <div>
        {control lostPasswordForm}
    </div>

</main>

{define #head}
    <script src="https://www.google.com/recaptcha/api.js?hl={1}" async defer></script>
{/define}
