<form n:name="form">

	<p>Login</p>

	<fieldset>
		<p>{input email}</p>
		<p>{input password}</p>
	</fieldset>

	<p><a href="{plink Sign:lostPassword}">Lost password?</a></p>

	<fieldset>
		{input send}
	</fieldset>

</form>