<form n:name="form" role="form" class="form-horizontal">
    <div class="row">
        <div class="col-lg-10 col-md-8">

            <div class="col-lg-12">
                <h4>Údaje objednávky</h4><br>

                <div class="form-group">
                    {label managerName, class => 'col-sm-2 control-label' /}
                    <div class="col-sm-10">
                        {input managerName, class => 'form-control'}
                    </div>
                </div>
                <div class="form-group">
                    {label supplier, class => 'col-sm-2 control-label' /}
                    <div class="col-sm-10">
                        {input supplier, class => 'form-control'}
                    </div>
                </div>
                <div class="form-group">
                    {label building, class => 'col-sm-2 control-label' /}
                    <div class="col-sm-10">
                        {input building, class => 'form-control buildingAutocomplete'}
                    </div>
                </div>
                <div class="form-group">
                    {label state, class => 'col-sm-2 control-label' /}
                    <div class="col-sm-10">
                        {input state, class => 'form-control'}
                    </div>
                </div>
                <div class="form-group hidden">
                    {label created, class => 'col-sm-2 control-label' /}
                    <div class="col-sm-10">
                        {input created, class => 'form-control'}
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
                <hr>
            </div>

            <div class="col-lg-12">
                <h4>Položky</h4><br>

                <div class="form-group">
                    <div class="col-sm-12">
                        {foreach $form['items']->getContainers() as $id => $el}
                            <div class="form-group">
                                {*}<div class="col-sm-1">
                                    {$id + 1}
                                </div>{*}
                                {label items-$id-item, class => 'col-sm-2 control-label' /}
                                <div class="col-sm-9">
                                    {input items-$id-item, class => 'form-control'}
                                </div>
                                <div class="col-sm-1">
                                    {input items-$id-remove, class => 'btn btn-danger pull-right'}
                                </div>
                            </div>
                        {/foreach}
                    </div>
                </div>

                {input items-add, class => 'btn btn-info pull-right'}
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
                <hr>
            </div>

            {*}<div class="form-group">
                <div class="col-sm-3 text-right">
                    {label document, class => 'control-label' /}<br>
                    <small>Doporučený rozměr: 1920x600px</small>
                </div>
                <div class="col-sm-9">
                    {input document, class => 'form-control'}
                </div>
            </div>{*}

            <div class="col-lg-12">
                <h4>Dokumenty</h4><br>

                <div class="form-group">
                    {label documents, class => 'col-sm-2 control-label' /}
                    <div class="col-sm-7">
                        {input documents, class => 'form-control'}
                    </div>
                    <div class="col-sm-3">
                        <small>Doporučený min. rozměr: 900x507px</small>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
                <hr>
            </div>

        </div>

    </div>
    <div class="col-sm-12">
        {input send, class => 'btn btn-info pull-right'}
    </div>
</form>