{block content}
<section class="main-content container">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h4 n:block="title">
                    Order - {ifset $row}{$row->created->format("d.m.Y")}{else}New order{/ifset}
                </h4>
            </div>
            <div class="col-sm-6 text-right">
                <ol class="breadcrumb">
                    <li><a n:href=":Admin:Default:"><i class="fa fa-home"></i></a></li>
                    <li><a n:href=":Admin:Order:">Orders</a></li>
                    <li>{ifset $row}{$row->created->format("d.m.Y")}{else}New order{/ifset}</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row" n:ifset="$row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills">
                        <li><a n:href="pdf, $row->id" target="_blank">Náhled pdf</a></li>
                        <li n:if="!$row->isShipped()"><a n:href="sendOrder!, $row->id">Odeslat objednávku</a></li>
                        <li n:if="$row->isShipped()"><a n:href="sendOrder!, $row->id" onclick="return false;" class="disabled">Objednávka odeslána</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {control orderForm}

                        <div class="row" n:ifset="$row">
                            <div class="col-lg-10 col-md-8" n:if="$row->documents">
                                <div class="col-lg-12">
                                    <h4>Nahrané dokumenty</h4>
                                </div>
                                {foreach $row->documents as $document}
                                    <div class="col-md-2">
                                        <a href="{$basePath}/{$document->path}" target="_blank"><img src="{$basePath}/{$document->path}" class="img-responsive"></a>
                                        <a n:if="!$row->isShipped()" n:href="deleteDocument! $document->id" class="btn btn-danger btn-sm btn-block" data-confirm="Opravdu smazat?"><i class="fa fa-trash"></i></a>
                                    </div>
                                {/foreach}
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</section>

{if 0}
<script type="text/javascript">
    {/if}
    {define #js}
    $(function () {
        $(document).find(".buildingAutocomplete").each(function (i, el) {
            $(el).autocomplete({
                source: function( request, response ) {
                    $.nette.ajax({
                        url: {link buildingAutocompleteRequest!},
                        dataType: "json",
                        data: {
                            term: request.term
                        }
                    }).done(function(data) {
                        response(data);
                    });
                },
                minLength: 3
            })
                .autocomplete("instance")._renderItem = function(ul, item) {
                return $("<li>")
                    .append("<div><img src='/res/building.svg'> " + item.label + "</div>")
                    .appendTo(ul);
            };
        });
    });
    {/define}
    {if 0}
</script>
{/if}