<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$order->building->id}_{$order->building->name}_{$order->manager->lastName}_{$order->supplier->company}_{$order->created->format("d-m-Y-H-i")}</title>
</head>

<body>

    <h1>Objednávka ke stavbě </h1>
    <hr>
    <div>
        <div>
            <h2>Stavba:</h2>
            <p>{$order->building->name}</p>
            <p>{$order->building->city}, {$order->building->street}</p>
        </div>
        <div>
            <h2>Manager:</h2>
            <p>{$order->manager->getFullName()}</p>
            <p>{$order->manager->email}</p>
            <p>{$order->manager->phone}</p>
        </div>
        <div>
            <h2>Dodavatel:</h2>
            <p>{$order->supplier->company}</p>
            <p>{$order->supplier->email}</p>
            <p>{$order->supplier->phone}</p>
            <p>{$order->supplier->city}, {$order->supplier->zip}, {$order->supplier->street}</p>
            <p>{$order->supplier->ino}</p>
            <p>{$order->supplier->vat}</p>
        </div>
    </div>
    <hr>
    <div>
        <div>
            <h2>Datum:</h2>
            <p>{$order->created->format("d.m.Y H:i")}</p>
        </div>
    </div>
    <hr>
    <div>
        <div>
            <h2>Položky:</h2>
        </div>
        <div>
            {foreach $order->items as $item}
                <p>- {$item->item}</p>
            {/foreach}
        </div>
    </div>

</body>
</html>